<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baidu.AI" version="4.15.10" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2-beta2" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.8" targetFramework="net452" />
</packages>